VITE_API_URL=http://localhost/api
VITE_SOCKET_URL=ws://localhost:9501
VITE_GOOGLE_SIGNIN_URL=http://localhost/auth/google
VITE_DISCORD_INVITE_URL=https://discord.gg/GX8c67DnHe
VITE_DISCORD_WIDGET_BANNER_URL=https://discord.com/api/guilds/1521584090602799207/widget.png?style=banner2

VITE_SENTRY_DSN=